body {
    background: rgb(247, 242, 242);
}

#banner {
    width: 30%;
    height: 350px;
}

h1 {
    text-align: center;
    font-size: 35px;
    color: rgb(31, 28, 28);
}

h3 {
    text-align: center;
    color: rgb(14, 13, 13);
}