body {
    background: rgb(248, 245, 245);
}

#banner {
    width: 80%;
    height: 400px;
}

h1 {
    text-align: center;
    font-size: 35px;
    color: rgb(255, 0, 0);
}

h2 {
    text-align: center;
    color: rgb(243, 24, 24);
}